<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="Regresar" defaultHref="principal">Regresar</ion-back-button>
   </ion-buttons>

    <ion-title>ayuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ayuda</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <strong>Ayuda para realizar cálculos de Precios Por Metro Cuadrado</strong>
    <p> Esta guia resumida contiene los pasos oara realizar los cálculos</p>
    <p>de los valores por metro cuadrado de construcción.</p>
    <p>1. Debe ingresar en Pagina de Inicio con Nombre y Password. </p>
    <p>2. Si no posee Nombre y Password, debe registrarse, de lo contrario </p>
    <p>puede ingresar sin registarse, pero no podrá guardar valores.. </p>
    <p>3. Debe ingresar los metros cuadrados en metros de la propiedad de largo por el ancho.</p>
    <p>4. Ingresar si es hormigón, madera o revestimiento de acero.</p>
    <p>5. Ingresar la altura de la construcción.</p>
    <p>6. Ingresar si tevho es madera o metalcom.</p>
    <p>7. Ingresar si la cubierta es de teja asfaltica, o de metal.</p>
    <p>8. Apretar en boton calcular.</p>
    <p>9. Gracias por su preferencia</p>

  </div>
</ion-content>
