

<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="Regresar" defaultHref="home">Regresar</ion-back-button>
    </ion-buttons>
   

    <ion-title>Bienvenidos a Valor por Metro Cuadrado de Construcción</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <ion-header>
  <ion-toolbar>
    <ion-title>Elija una Opción por favor</ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-button>
        Valor2Construcción
        <nav> <a routerLink="valor-m2-c">Valor2Construcción</a></nav>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button>
        Ayuda
        <nav> <a routerLink="ayuda">Ayuda</a></nav>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button>
        Guardar
        <nav> <a routerLink="guardar">Guardar</a></nav>
      </ion-button>
    </ion-item>

  </ion-list>
  
</ion-content>
