<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" defaultHref="principal">Regresar</ion-back-button>
   </ion-buttons>

    <ion-title>valorM2C</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">valorM2C</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-header>
  <ion-toolbar>
    <ion-title>Ingrese los datos para el valor a calcular:</ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-button>
        Ingrese M2 y Altura
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button>
        Ingrese Materialidad
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button>
        Ingrese Tipo de Techumbre
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button>
        Ingrese Tipo de Cubierta

      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button>
        Cálculo Valor M2 Construcción

      </ion-button>
    </ion-item>

  </ion-list>

</ion-content>
